<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单输入绑定</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>


<body>

    <div id="app">
        <input type="text" v-model="message">
        <p>Message is : {{message}}</p>


        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected:{{selected}}</span>
    </div>



    <script>
        const { createApp } = Vue

        const app = createApp({
            data(){
              return{

                  message: '',
                  selected: ''

              }
            },
            methods: {
                say(message) {
                    alert(message)
                }
            },
            mounted(){
                axios
                .get('data.json')
                .then(response => this.info=response.data)
            }
        })

        app.mount('#app') //挂载
    </script>
</body>
</html>